* {
    box-sizing: border-box;
}

body {
    background-color: beige;
}

#container {
    text-align: left;
    width: 280px;
    margin: auto;
}

#flags {
    width: 100px;
    height: 60px;
} 

.flagSmall {
    width: 40px;
    height: 30px;
    text-align: left;
}