

.card {
    font-size: 1.3em;
    color: black;
    max-width: 100px;
    display: inline-block;
    font-weight: 700;
    border: 2px solid #ecbd48;
    background-color: rgba(255, 255, 255, 0.637);
}



@media screen and (max-width: 768px) {

    


    
}
